# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# ChromaDB
# ==========================
vector_db/
data/vector_db/

# ==========================
# Logs
# ==========================
*.log